.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.img-container img {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
}
.specs {
  padding: 0;
  list-style: none;
}
.specs li {
  margin-bottom: 6px;
}
