/* === BASE GENERAL === */
.custom-navbar {
  background-color: #111 !important;
  border-top: 3px solid #910002 !important;
  border-bottom: 3px solid #910002 !important;
  padding: 10px 20px !important;
  font-family: 'Oswald', sans-serif;
}



/* Contenedor del navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

/* === LOGO === */
.logo-img {
  width: 100px;
  height: 100px;
}

.brand-title {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  color: #fff;
}

/* === ENLACES DEL MENÚ === */
.nav-link {
  color: #fff !important;
  font-weight: bold;
  margin-left: 25px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #910002 !important;
  transform: scale(1.1);
}

/* Ajuste del icono hamburguesa */
.navbar-toggler {
  border-color: #910002;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(145,0,2)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
